body{
    font-family: monospace;
}
header{
    font-size: 80px;
    text-align:center;
    margin: 50px;

}
body{
    background-color: rgba(216, 196, 19, 0.356);
}
table{
    
    width: 1200px;
    border: 2px double black;
    font-size: 17px;
    margin: 0 auto;
    padding: 10px;
    border-spacing: 10px;
    
    
}
thead{
    color:red;
    background-color: rgba(222, 184, 135, 0.712);
    border:1px solid rgb(37, 34, 28);
}
tbody{
    font-size: 13px;
}